.searchBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #666;
    margin: 12px;
    padding: 4px;
    min-height: 30px;
}

.inputSearchBlock {
    width: 100%;
    flex-grow: 1;
    font-size: 19px;
    padding: 0 4px;
    color: blue;
    background-color: bisque;
}

.searchIcon {
    display: flex;
    height: 27px;
    width: 30px;
    margin-top: 3px;
    background: url("../../image/icons8-search-32.png") no-repeat;
    background-size: 80% auto;
}