.rightContainerInfo {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: antiquewhite;
}

.visible {
    display: flex;
}

.noteHeaderBlockInfo {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #666;
    margin: 12px;
    min-height: 30px;
}

.noteNameBlockInfo {
    display: flex;
    width: 100%;
    flex-grow: 1;
    padding: 8px;
}

.noteDateBlockInfo {
    display: flex;
    width: 180px;
    padding: 8px;
}

.infoBlockInfo {
    display: flex;
    margin: 12px;
    padding: 8px;
}
