* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

html, body {
  height: 100%;
  width: 100%;
}

.clear {
  clear: both;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 100%;
  text-align: center;
  font-family: "Georgia";
  font-size: 19px;
  line-height: 32px;
}

.content {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  margin: 0 auto;
  height: calc(100vh - 2 * 62px - 16px - 28px);
  width: 100%;
  background-color: bisque;
  text-align: center;
}

.betweenContainer {
  display: flex;
  width: 2%;
  background-color: #fff;
  border-left: 1px solid #666;
  border-right: 1px solid #666;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
